<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      div{
        position: absolute;
        right: 10px;
        top: 1px;
      }
    </style>
  </head>
  <body>

    <div >
        <button type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
    </div>
    Welcome {{ email }}!!
    <br><br>
    {% for time, date, work in comb_lis %}
      Date: {{date}} &nbsp; Work : <a href="/post_check/?z={{time}}">{{work}}</a>
      <br>
    {% endfor %}

</html>
